<header>
    <nav class="header">
<!--        Зробити підключення через ім'я для clients-->
        <div class="header-el"><a href="/clients">Clients</a></div>



        <div class="header-el"><a href="/error">Error</a></div>
        <div class="header-el"><a href="/specialists">Specialists</a></div>
        <div class="header-el"><a href="/clients">Appointments</a></div>
        <div class="header-el"><a href="/logout">Logout</a></div>
        <div style="clear: both;"></div>
    </nav>
</header>