<header>
    <nav class="header">
        <ul class="nav-left">
<!--            <li class="header-el"><a href="/clients">Clients</a></li>-->
            <li class="header-el"><a class="custom-link" href="{% url 'core:clients' %}">Clients</a></li>
            <li class="header-el"><a class="custom-link" href="/error">Error</a></li>
            <li class="header-el"><a class="custom-link" href="/specialists">Specialists</a></li>
            <li class="header-el"><a class="custom-link" href="/clients">Appointments</a></li>
            <li class="header-el"><a class="custom-link" href="{% url 'core:services' %}">Services</a></li>
            <li class="header-el"><a class="custom-link" href="{% url 'register' %}">Register</a></li>
            <li class="header-el"><a class="custom-link" href="{% url 'login' %}">Login</a></li>
<!--            <li class="header-el"><a class="custom-link" href="{% url 'logout' %}">Logout</a></li>-->
            <li style="clear: both;"></li>
        </ul>
        <ul class="nav-right">
            <li>
                <form action  = "{% url 'logout' %}" method = "post">
                    {% csrf_token %}
                    <button type="submit" class="button-logout">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>