{% extends 'base.html' %}
{% block content %}

    <h2>About us</h2>
    <div class="container">
        <p>Welcome to Art_Style Beauty Salon — Where Elegance Meets Creativity</p>

        <p>Step into a world where beauty and artistry intertwine  seamlessly. At Art_Style Beauty Salon, we believe that every individual is a canvas waiting to be transformed. Our salon is not just a place for grooming; it's a sanctuary of self-expression and artistic flair.</p>

        <p>Inspired by the vibrant strokes of a painter’s brush and the intricate details of fine craftsmanship, our interior design reflects an aesthetic that is both sophisticated and inspiring. From the elegant decor to our innovative styling techniques, every element is curated to evoke a sense of beauty rooted in artistry.</p>

        <p>Our talented team of stylists and beauty experts approach each client as a masterpiece, tailoring treatments that enhance your natural features with creative precision. Whether you're seeking a chic haircut, a stunning color palette, or an avant-garde makeup look, we infuse each service with artistic passion and attention to detail.</p>

        <p>Experience the harmony of form and color, the play of light and shadow, as we bring your beauty vision to life. At Art_Style Beauty Salon, beauty is an art, and you are the masterpiece.</p>
    </div>
{% endblock content %}